<h1>Create a new artist</h1>
<form method="POST" action="/artists">
  <label for="name">Enter a name</label>
  <input id="name" type="text" name="name">
  <label for="genre">Enter a genre</label>
  <input id="genre" type="text" name="genre">
  <input type="submit" value="Create artist">
</form>
</br></br><a href="/">Home</a>