  <h1>Create a new album</h1>
    <form method="POST" action="/artists">
      <label for="title">Enter a title</label>
      <input id="title" type="text" name="title">
      <label for="release_year">Enter a release year</label>
      <input id="release_year" type="text" name="release_year">
      <label for="artist_id">Enter an artist id</label>
      <input id="artist_id" type="text" name="artist_id">
      <input type="submit" value="Create album">
    </form>
    </br></br><a href="/">Home</a>